<% content_for :metatags do %>
  <meta property="robots" content="noindex, nofollow"/>
<% end %>

<% content_for :title do %>
  <%= "Festival de Inverno | Admin - Editais" %>
<% end %>

<% content_for(:side_bar) do %>
    <%= render :partial => "shared/sidebar_admin" %>
<% end %>
<div class="container_admin">
  <div class="row">
    <div class="col s12 m12 l12 z-depth-3 card-panel">
      <div class="center">

        </br>
          <%= link_to 'Novo Edital', new_edital_path, :class=>"btn btn-small",:style => "float :left"  %>
        </br>

        <h4 class="title">Editais</h4>


        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Data de publicação</th>
              <th>Tipo</th>
              <th>Situação</th>
            </tr>
          </thead>

          <tbody>
            <% @editals.each do |edital| %>
              <tr>
                <td><%=edital.id %></td>
                <td><%=edital.name %></td>
                <td><%=edital.date_published.strftime("%d/%m/%Y") %></td>
                <td><%=edital.tipo_edital %></td>
                <td><%= (edital.date_start <= Date.today and edital.date_end >= Date.today) ? 'Aberto' : (edital.date_start > Date.today) ? 'Em Breve' : 'Fechado'  %> </td>
                <td><%= link_to "<i class='fa fa-eye'></i>".html_safe, edital %></td>
                <td><%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_edital_path(edital) %></td>
                <td><%=link_to( "<i class='fa fa-trash'></i>".html_safe, edital, :method => :delete, :data => { :confirm => 'Tem certeza que deseja apagar?' }, :title => 'Excluir' )%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

