<% content_for :metatags do %>
  <meta property="robots" content="noindex, nofollow"/>
<% end %>

<% content_for :title do %>
  <%= "Festival de inverno | Admin - Colaboradores" %>
<% end %>

<% content_for(:side_bar) do %>
    <%= render :partial => "shared/sidebar_admin" %>
<% end %>
<div class="container_admin">
  <div class="row">
    <div class="col s12 m12 l12 z-depth-3 card-panel">
      <div class="center">

      </br>
        <%= link_to 'Novo Colaborador', new_colaborator_path, :class=>"btn btn-small",:style => "float :left"  %>
      </br>

       <h4 class="title">Colaboradores</h4>

        <table>
          <thead>
            <tr>
              <th>Título</th>
              <th>Descrição</th>
            </tr>
          </thead>

          <tbody>
            <% @colaborators.each do |c| %>
              <tr>
                <td><%= c.title %></td>
                <td><%= c.description %></td>
                <td><%= link_to("<i class='fa fa-eye'></i>".html_safe, c, :title => 'Visualizar')%></td>
                <td><%= link_to( "<i class='fa fa-edit'></i>".html_safe, edit_colaborator_path(c), :title => 'Editar' )%></td>
                <td><%=link_to( "<i class='fa fa-trash'></i>".html_safe, c, :method => :delete, :data => { :confirm => 'Tem certeza que deseja apagar?' }, :title => 'Excluir' )%></td>
              </tr>
              </tr>
            <% end %>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</div>
