<% content_for :metatags do %>
  <meta property="robots" content="noindex, nofollow"/>
<% end %>

<% content_for :title do %>
  <%= "Festival de Inverno"%>
<% end %>

<% content_for(:side_bar) do %>
    <%= render :partial => "shared/sidebar_admin" %>
<% end %>

<div class="container_admin">
  <div class="content-body" >

   	<div id="news_show">
    	<h3>Colaboradores</h3>
    	</br>
    	<div class="description">
	    	<h4>Título</h4>
	    	<%= @colaborator.title%>
	   	</div>
	    <div class="description">
	    	<h4>Descrição </h4>
	    	<%= @colaborator.description.html_safe%>
	    </div>
    </div>
  
    <% if user_signed_in? %>
      <%= link_to "Editar", edit_colaborator_path(@colaborator), class: "waves-effect waves-light btn" %>
    <% end %>
  </div>
</div>

