<% if @director.errors.any? %>
  <div id="error_explanation" class="alert alert-danger alert-dismissible" role="alert" style="width: 80%; margin: auto">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h6><%= pluralize(@director.errors.count, "error") %> que impedem que este Prato seja salvo</h6>
 
    <ul>
    <% @director.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= simple_form_for @director, html: {multipart: true} do |f| %>
    <div class="container_admin">
        <div class="row">
            <div class="col s12 m12 l12 z-depth-3 card-panel">
                <div class="center">

                     <% if params[:action] == 'edit'%>
                        <h2 class="title" style="margin: 20px 0px;">Editar Prato</h2>
                    <% else %>
                        <h2 class="title" style="margin: 20px 0px;">Novo Prato</h2>
                    <% end %>

                </div>

                <%= f.input :image, type: :file, label: "Logo (200x200)" %>
        
                <%= f.input :name, label: "Nome" %>

                <%= f.input :link, label: "O que é" %>

                <%= f.input :order, label: "Ordem" %>

				<% if params[:action] == 'edit'%>
                    <%= f.button :submit, "Atualizar Prato" %>
                <% else %>
                    <%= f.button :submit, "Criar Prato", class: 'btn' %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>
