<% content_for :metatags do %>
  <meta property="robots" content="noindex, nofollow"/>
<% end %>

<% content_for :title do %>
  <%= "Festival de Inverno | " + @evento.name %>
<% end %>

<% content_for(:side_bar) do %>
    <%= render :partial => "shared/sidebar_admin" %>
<% end %>

<div class="container_admin">
  <div class="content-body" >

    <div id="news_show">
      <div class="name">
        <%= @evento.name%>
      </div>
      <div class="local">
        <%= @evento.location %>
      </div>
      <div class="description">
        <%= @evento.description.html_safe %>
      </div>
      <% if !@evento.categories.empty?%>
        <% @evento.category_ids.each do |cat|%>
          <div class="category">
      	    <%= @evento.categories.find(cat).name%>
          </div>
        <%end%>
      <%end%>
    </div>
   

    <% if user_signed_in? %>
      <%= link_to "Editar", edit_evento_path(@evento), class: "waves-effect waves-light btn" %>
      <%= link_to "Deletar", eventos_path(@evento), class: "waves-effect waves-light btn", method: :delete, data: {confirm: "Tem certeza desta Ação?"} %>
    <% end %>
  </div>
</div>

