<% content_for :metatags do %>
  <meta property="robots" content="noindex, nofollow"/>
<% end %>

<% content_for :title do %>
  <%= "Festival de Inverno | Admin - Eventos" %>
<% end %>

<% content_for(:side_bar) do %>
    <%= render :partial => "shared/sidebar_admin" %>
<% end %>
<div class="container_admin">
  <div class="row">
    <div class="col s12 m12 l12 z-depth-3 card-panel">
      <div class="center">

      </br>
        <%= link_to 'Novo Evento', new_event_path, :class=>"btn btn-small",:style => "float :left"  %>
      </br>

       <h4 class="title">Eventos</h4>

        <table>
          <thead>
            <tr>
              <th>Título</th>
              <th>Data de Início</th>
              <th>Data de Termino</th>

              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @events.each do |event| %>
              <tr>
                <td><%= event.name %></td>
                <td><%= event.publish_at %></td>
                <td><%= event.date_end %></td>
                <td><%= link_to("<i class='fa fa-eye'></i>".html_safe, event, :title => 'Visualizar')%></td>
                <td><%= link_to( "<i class='fa fa-edit'></i>".html_safe, edit_event_path(event), :title => 'Editar' )%></td>
                <td><%=link_to( "<i class='fa fa-trash'></i>".html_safe, event, :method => :delete, :data => { :confirm => 'Tem certeza que deseja apagar?' }, :title => 'Excluir' )%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</div>
