<% if @news.errors.any? %>
  <div id="error_explanation" class="alert alert-danger alert-dismissible" role="alert" style="width: 80%; margin: auto">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h6><%= pluralize(@news.errors.count, "error") %> que impedem que esta notícia seja salva</h6>
 
    <ul>
    <% @news.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for @news , html: {multipart: true}  do |f| %>
    <div class="container_admin">
        <div class="row">
            <div class="col s12 m12 l12 z-depth-3 card-panel">
                <div class="center">
                    <% if params[:action] == 'edit'%>
                        <h2 class="title" style="margin: 40px 0px;">Editar Roteiro</h2>
                    <% else %>
                        <h2 class="title" style="margin: 40px 0px;">Novo Roteiro</h2>

                    <% end %>
                    
                </div>
                <%= f.input :title, :label => "Título" %>

                <%= f.input :subtitle, :label => "*Subtítulo"  %>

                

                <label>*Descrição curta </label>
                <%= f.cktext_area :short_description  %>
                </br>
                <label>*Porque ir ? </label>
                <%= f.cktext_area :description %>

                <%= f.input :duration, :label => "Duração" %>
                <%= f.input :address, :label => "Local"  %>
                <%= f.input :value, :label => "Valor" , :input_html => {style: 'width:10%'} %>
                <%= f.input :dates, :label => "Datas"  %>

                <label>*Imagen(s)</label>
                <%= file_field_tag "images[]", type: :file, multiple: true, :label => "Imagem"%>


                <!--<%= f.input :video_url, :label => "Url do vídeo do youtube"  %>
                
                <%= f.input :publish_at, :label => "Data da publicação",as: :datetime, :input_html => {style: 'width: inherit'}  %>-->
                
                <%= f.input :legend, :label => "*Legenda das Fotos"  %>

                <% if params[:action] == 'edit'%>
                    <%= f.button :submit, "Atualizar Evento" %>
                <% else %>
                    <%= f.button :submit, "Criar Evento", class: 'btn' %>
                <% end %>
                </br>


            </div>
        </div>
    </div>
<% end -%>
