<% content_for :metatags do %>
  <meta property="robots" content="noindex, nofollow"/>
<% end %>

<% content_for :title do %>
  <%= "Festival de Inverno | " + truncate(@sponsor.name, length: 160) %>
<% end %>

<% content_for(:side_bar) do %>
    <%= render :partial => "shared/sidebar_admin" %>
<% end %>

<div class="container_admin">
  <div class="content-body" >

    <div id="sponsor_show">
      <h5 class="title" >
        <%= @sponsor.name %> 
      </h5>

      <div class="description">
        <%= @sponsor.link %>
      </div>
    </div>
   

    <% if user_signed_in? %>
      <%= link_to "Editar", edit_sponsor_path(@sponsor), class: "waves-effect waves-light btn" %>
      <%= link_to "Deletar", sponsor_path(@sponsor), class: "waves-effect waves-light btn", method: :delete, data: {confirm: "Tem certeza desta Ação?"} %>
    <% end %>
  </div>
</div>

</script>

