<style type="text/css">
  @media only screen and (min-width : 992px) {
    .edition-item{
        margin-left:27%!important;
    }
  }
  @media only screen and (max-width : 992px) and (min-width:600px){
    .edition-item{
        margin-left:1%!important;
    }
  }
  @media only screen and (max-width :600px){
    a > img{
      float:none!important;
    }
  }
</style>

<% content_for :title do %>
  <%= "Festival de Inverno" %>
<% end %>


<div class="festival_container_home">
  <div class="row">
  <h2 class="title">Outras Edições</h2>
  <div class="section-title-line"> ∎ </div>
    <div class="row">
      <% @editions.each do |item| %>

        <div class="edition-item col s12 m12 l8 " style="margin-top:20px;margin-bottom:20px">
            <div class="col s12 m6 l4">
              <% if item.image_edition.present? %>
                <% if item.local.present? %>
                  <%= link_to image_tag(item.image_edition.first.url(:small),:style => "float:right"), item.local %>
                <%else%>
                    <%= link_to image_tag(item.image_edition.first.url(:small),:style => "float:right"), edicao_path(item) %>
                <% end %>
              <% end %>
            </div>
            <div class="col s12 m6 l4">
              <p >Ano: <%= item.year.strftime("%Y") %></p>
              <p >Tema: <%= item.tema%></p>
              <p ><%= truncate(strip_tags(item.description), length: 200, omission: '...')%></p>
            </div> 
        </div>
        
      <% end -%>
    </div>
   
  </div>
 
</div>

