<div class="main_container"> 

 <section class="flexslider" data-section="welcome">

  <ul class="slides">

    <% @slides.each.with_index do |item, i| %>

    <li class="overlay" data-stellar-background-ratio="0.5">

      <image src="<%= item.image(:original)%>"/>

        <div class="flex-caption">

         <div class="flex-caption-title"><%=item.title%></div>

         <div class="flex-caption-description">

          <p><%=item.subtitle%></p>

          <a href="<%=item.link%>" target="_blank" class="flex-caption-link">Saiba Mais</a>

        </div>

      </div>

    </li>

    <%end%>

  </ul>

</section>

<section class="probootstrap-section how_works" data-section="how_works">

  <div class="golden-border"></div>

  <div class="container">

   <div class="row">

    <div class="probootstrap-heading justify-content">

     <div class="image-center">

      <image src="<%= image_url('11.png')%>" align="center" class="thumb_75"/>

      </div>

      <h1 align="center" class="primary-heading">Como Funciona</h1>

      <p align="center" class="col-md-6 col-md-offset-3">Lorem ipsum vivamus nam cras convallis elit risus praesent non consectetur purus lacus aliquet, integer velit massa ultrices consequat duis commodo ultrices class porta turpis elementum. quisque scelerisque feugiat nunc quis porta morbi varius </span>

      </div>

      <div class="col-md-12" style="margin:30px 0;">

       <div class="col-md-2 col-md-offset-2 justify"> 

        <div class="image-center">

         <img src="<%= image_url('7.png')%>" class="thumb_75"/>

       </div>

       <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p>

     </div>

     <div class="col-md-2 col-md-offset-1 justify"> 

      <div class="image-center">

       <img src="<%= image_url('6.png')%>" class="thumb_75"/>

     </div>

     <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p>

   </div>

   <div class="col-md-2 col-md-offset-1 justify"> 

    <div class="image-center">

     <img src="<%= image_url('10.png')%>" class="thumb_75"/>

   </div>

   <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p>

 </div>

</div>    

</div>

</div>

</section>

<section class="probootstrap-section roteiros" data-section="roteiros">
  <div class="container">
    <div class="row">
      <div class="probootstrap-heading justify-content">
        <div class="image-center">
          <image src="<%= image_url('13.png')%>" align="center" class="thumb_75"/>
        </div>
        <h1 align="center" class="primary-heading">Roteiros</h1>
        <p align="center" class="col-md-6 col-md-offset-3">Lorem ipsum vivamus nam cras convallis elit risus praesent non consectetur purus lacus aliquet, integer velit massa ultrices consequat duis commodo ultrices class porta turpis elementum. quisque scelerisque feugiat nunc quis porta morbi varius </p>
      </div>
      <div class="col-md-12" style="margin:30px 0;">
        <% @news.each_slice(2) do |slice| %>
          <div class="col-md-4 col-md-offset-2 justify"> 
            <% if slice[0].image_news.exists? %>
              <div class="image-center img-roteiro" style="background-image: url(<%=slice[0].image_news.first.url(:medium)%>)">     
              </div>
            <%else%>
              <div class="image-center img-roteiro">     
              </div>
            <%end%>
            <div class="text ">

              <h3 class="txt-roteiro"></h3><%= slice[1].title %>

              <p class="description-roteiro"><%= slice[0].short_description.html_safe.truncate(200, :omission => "...") %></p>

              <a class="btn_flat know_more" href="<%=noticia_path (slice[0])%>" class="link-sm">Saiba mais</a>
            </div>
          </div>

          <div class="col-md-4 justify"> 
            <% if slice[1].image_news.exists? %>
              <div class="image-center img-roteiro" style="background-image: url(<%=slice[1].image_news.first.url(:medium)%>)">     
              </div>
            <%else%>
              <div class="image-center img-roteiro">     
              </div>
            <%end%>

            <div class="text">
              <h3 class="txt-roteiro"></h3><%= slice[1].title %>
              <p class="description-roteiro"><%= slice[1].short_description.html_safe.truncate(200, :omission => "...") %></p>
              <a class="btn_flat know_more" href="<%=noticia_path(slice[1])%>" class="link-sm">Saiba mais</a>
            </div>
            <a class="all-link" href="<%=noticias_path%>">Todos os roteiros <div class="arrow-right"></div></a>     
          </div>
        <%end%>
      </div> 
    </div>
  </div>
</section>

<section class="probootstrap-section how_works" data-section="tranlados">

  <div class="container">

   <div class="row">

    <div class="probootstrap-heading justify-content">

     <div class="image-center">

      <image src="<%= image_url('13.1.png')%>" align="center" class="thumb_75"/>

      </div>

      <h1 align="center" class="primary-heading">Translados</h1>

      <p align="center" class="col-md-6 col-md-offset-3">Lorem ipsum vivamus nam cras convallis elit risus praesent non consectetur purus lacus aliquet, integer velit massa ultrices consequat duis commodo ultrices class porta turpis elementum. quisque scelerisque feugiat nunc quis porta morbi varius </span>

      </div>

      <div class="col-md-12" style="margin:30px 0;">

       <% @editions.each_slice(2) do |slice| %>

       <div class="col-md-4 col-md-offset-2 justify"> 


        <% if slice[0].image_edition.exists? %>
          <div class="image-center img-translado" style="background-image: url(<%=slice[0].image_edition.first.url(:medium)%>)">     
          </div>
        <%else%>
          <div class="image-center img-translado">     
          </div>
        <%end%>
        

        <div class="text-translado ">

         <h3 class="txt-translado"><%= link_to slice[0].title, edicao_path(slice[0]) %></h3>

         <p class="description-translado"><%= slice[0].short_description.html_safe.truncate(200, :omission => "...") %></p>

      <a class="btn_flat know_more_translado" href="<%=noticia_path(slice[0])%>" class="link-sm">Saiba mais</a>

       </div>

       <!-- <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p> -->

     </div>

     <div class="col-md-4 justify"> 

        <% if slice[0].image_edition.exists? %>
          <div class="image-center img-translado" style="background-image: url(<%=slice[0].image_edition.first.url(:medium)%>)">     
          </div>
        <%else%>
          <div class="image-center img-translado">     
          </div>
        <%end%>
        

      <div class="text-translado">

       <h3 class="txt-translado"><%= link_to slice[1].title, edicao_path(slice[1]) %></h3>

       <p class="description-translado"><%= slice[1].short_description.html_safe.truncate(200, :omission => "...") %></p>

      <a class="btn_flat know_more_translado" href="<%=edicao_path(slice[1])%>" class="link-sm">Saiba mais</a>

     </div>

     <a class="all-link blank" href="<%=edicoes_path%>">Todos os translados <div class="arrow-right"></div></a>    

   </div>

   <%end%>

 </div> 

</div>

</div>

</section>

</section>

<section class="probootstrap-section about" data-section="about">

  <div class="golden-border darker-border"></div>

  <div class="container">

   <div class="row">

    <div class="probootstrap-heading justify-content">

     <div class="image-center">

      <image src="<%= image_url('12.png')%>" align="center" class="thumb_75"/>

      </div>

      <h1 align="center" class="primary-heading">Sobre o Ouro Adventure</h1>

    </div>

    <div class="col-md-12" style="margin:30px 0;">

     <div class="col-md-4 col-md-offset-2 justify"> 

      <div class="image-center">

       <image src="<%= image_url('01.jpg')%>" align="center" class="col-md-12" style="width:100%;margin-bottom:30px;"/>

       </div>      

     </div>

     <div class="col-md-4 justify">       

      <h3 class="about-title">Texto sobre a empresa</h3>

      <p class="about-description">Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras</p>

    </div>

  </div> 

</div>

</div>

</section> 



</div>

<script type="text/javascript" charset="utf-8">
 $(document).ready(function() {
  $('.flexslider').flexslider({
   animation: "slide",
   directionNav: false,
   slideshow: true,
 });
});
</script>