<style type="text/css">
  .flex-caption {
    width: 47%;
    height:50%;
    padding: 2%;
    left: 55%;
    bottom: 25%;
    top:25%;
    
    font-size: 14px;
    line-height: 18px;
    position: absolute;
  }
  .flex-caption-title{
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    margin-bottom:2px;
    height:35%;
    padding:20px 10px;
    font-size:32px;
    text-shadow: 0px 0px 5px rgba(0,0,0);
  }
  .flex-caption-description{
    background: rgba(0,0,0,.5);
    color: #fff;
    height:65%;
    text-align: justify;
    padding:15px 40% 15px 10px;
  }
  .flex-caption-link{
    position: absolute;
    bottom:15%;
    right: 40%;
    border:3px solid white;
    font-size:13px;
    padding:3px;
    font-weight: 700;
    color:white;
  } 
  .flex-control-nav{
    bottom:15px;
  }
  .flex-control-paging li a{
    background-color: rgba(255,255,255,0.7);
    box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.6);
  }
  .flex-control-paging li a.flex-active{
    background-color: rgba(255,255,255,0.9);
    box-shadow:0 0 4px rgba(0, 0, 0, 1);

  }

  

  .slides li {
    position: relative;
  }
  .main_container .flexslider{
    margin:0;
  }
  .how_works{
    background-color: #9B9740;
    color:white;
  }
  .golden-border{
    top:0;
    width: 100%;
    height:25px;
    background-color: #838036;
  }
  @media only screen and (max-width: 600px) {
    .flex-caption-title{
      display: none;
    }    
    .flex-caption-description {
      background: transparent;

    }
    .flex-caption-description p{
      display: none;
    }

  }
  .image-center{
    text-align: center;
  }
  .thumb_75{
    width:75px;
    margin-top:5px;
  }
  .primary-heading{
    font-weight:bold;
  }
  .roteiros{
    background-color: white;
    color:#09585D;
  }
  .about{
    background-color: #09585D;
    color:white;
  }
  .darker-border{
    background-color: #06454A;
  }
  .img-roteiro{
    border:8px solid #9B9740;
    padding:0;
    height:200px;
    background-size: 100%;
    background-position: center;
  }
  .txt-roteiro{
    margin-top:5px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .txt-roteiro > a{
    color:#9B9740;
  }
  .description-roteiro{
    font-size:12px;
    font-weight: 100;
    color:#06454A;
    text-align: justify;
  }
  .text > p{
    font-size:13px;
    font-weight: 100;
    color:#06454A;
    text-align: justify;
  }
  .know_more{
    border:4px solid #9B9740;
    padding:2px 15px;
    background-color: white;
    margint-bottom:20px;
  }
  .know_more:hover{
    border-color:#6c692c;
    color:#6c692c;
    background-color: white;
  }
  .know_more a{
    text-transform: none;
    text-decoration: none;
    color:#9B9740 ;
  }
 
  .img-translado{
    border:8px solid white;
    padding:0;
    height:200px;
    background-size: 100%;
    background-position: center;
  }
  .txt-translado{
    margin-top:5px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .txt-translado > a{
    color:white;
  }
  .description-translado{
    font-size:12px;
    font-weight: 100;
    color:white;
    text-align: justify;
  }
  .text_translado > p{
    font-size:13px;
    font-weight: 100;
    color:white;
    text-align: justify;
  }
  .know_more_translado{
    border:4px solid white;
    padding:2px 15px;
    background-color:#9B9740;
    margin-bottom:20px;
  }
  .know_more_translado:hover{
    background-color:#6c692c;    
  }

  .know_more_translado a{
    text-transform: none;
    text-decoration: none;
    color:white ;
  }
  .about-title{
    color:white;
    margin-top:0px;
  }
  .about-description{
    color:white;
  }
  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;    
    border-left: 12px solid #063B3E;
    float: right;
    margin-top: 2px;
    margin-left: 10px;
    color: #063B3E;
  }
  .all-link{
    float: right;
    margin-top: 40px;
    font-weight: 700;
    font-size: 12px;
    color: #063B3E;
    cursor: pointer;
  }
  .blank{
    color:white;
  }
  .blank .arrow-right {
    border-left-color: white;
  }

</style>
<div class="main_container">
  

  <section class="flexslider" data-section="welcome">
    <ul class="slides">
    <% @slides.each.with_index do |item, i| %>
      <li class="overlay" data-stellar-background-ratio="0.5">
        <image src="<%= item.image(:original)%>"/>
        <div class="flex-caption">
          <div class="flex-caption-title"><%=item.title%></div>
          <div class="flex-caption-description">
            <p><%=item.subtitle%></p>
            <a href="<%=item.link%>" target="_blank" class="flex-caption-link">Saiba Mais</a>
          </div>
        </div>
      </li>
    <%end%>
    </ul>
  </section>

  <section class="probootstrap-section how_works" data-section="how_works">
    <div class="golden-border"></div>
    <div class="container">
      <div class="row">
        <div class="probootstrap-heading justify-content">
          <div class="image-center">
            <image src="<%= image_url('11.png')%>" align="center" class="thumb_75"/>
          </div>
          <h1 align="center" class="primary-heading">Como Funciona</h1>
          <p align="center" class="col-md-6 col-md-offset-3">Lorem ipsum vivamus nam cras convallis elit risus praesent non consectetur purus lacus aliquet, integer velit massa ultrices consequat duis commodo ultrices class porta turpis elementum. quisque scelerisque feugiat nunc quis porta morbi varius </span>
        </div>
        <div class="col-md-12" style="margin:30px 0;">
          <div class="col-md-2 col-md-offset-2 justify"> 
            <div class="image-center">
              <img src="<%= image_url('7.png')%>" class="thumb_75"/>
            </div>
            <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p>
          </div>
          <div class="col-md-2 col-md-offset-1 justify"> 
            <div class="image-center">
              <img src="<%= image_url('6.png')%>" class="thumb_75"/>
            </div>
            <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p>
          </div>
          <div class="col-md-2 col-md-offset-1 justify"> 
            <div class="image-center">
              <img src="<%= image_url('10.png')%>" class="thumb_75"/>
            </div>
            <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p>
          </div>
        </div>       
      </div>
    </div>
  </section>
  <section class="probootstrap-section roteiros" data-section="roteiros">
    <div class="container">
      <div class="row">
        <div class="probootstrap-heading justify-content">
          <div class="image-center">
            <image src="<%= image_url('13.png')%>" align="center" class="thumb_75"/>
          </div>
          <h1 align="center" class="primary-heading">Roteiros</h1>
          <p align="center" class="col-md-6 col-md-offset-3">Lorem ipsum vivamus nam cras convallis elit risus praesent non consectetur purus lacus aliquet, integer velit massa ultrices consequat duis commodo ultrices class porta turpis elementum. quisque scelerisque feugiat nunc quis porta morbi varius </span>
        </div>
        <div class="col-md-12" style="margin:30px 0;">
          <% @news.each_slice(2) do |slice| %>

          <div class="col-md-4 col-md-offset-2 justify"> 
            <div class="image-center img-roteiro" style="background-image: url(<%=slice[0].image_news.first.url(:medium)%>)">           
            </div>
            <div class="text ">
              <h3 class="txt-roteiro"><%= link_to slice[0].title, noticia_path(slice[0]) %></h3>
              <p class="description-roteiro"><%= slice[0].short_description.html_safe.truncate(200, :omission => "...") %></p>
              <button class="btn_flat know_more"><a href="<%=noticia_path(slice[0])%>#" class="link-sm">Saiba mais</a></button>
            </div>
           <!--  <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p> -->
          </div>
          <div class="col-md-4 justify"> 
            <div class="image-center img-roteiro" style="background-image: url(<%=slice[0].image_news.first.url(:medium)%>)">             
            </div>  
            <div class="text">
              <h3  class="txt-roteiro"><%= link_to slice[1].title, noticia_path(slice[1]) %></h3>
              <p class="description-roteiro"><%= slice[1].short_description.html_safe.truncate(200, :omission => "...") %></p>
              <button class="btn_flat know_more"><a href="<%=noticia_path(slice[1])%>#" class="link-sm">Saiba mais</a></button>
            </div>
            <a class="all-link" href="#">Todos os roteiros <div class="arrow-right"></div></a>         
          </div>
          <%end%>
        </div> 
      </div>

    </div>
  </section>
    <section class="probootstrap-section how_works" data-section="tranlados">
    <div class="container">
      <div class="row">
        <div class="probootstrap-heading justify-content">
          <div class="image-center">
            <image src="<%= image_url('13.1.png')%>" align="center" class="thumb_75"/>
          </div>
          <h1 align="center" class="primary-heading">Translados</h1>
          <p align="center" class="col-md-6 col-md-offset-3">Lorem ipsum vivamus nam cras convallis elit risus praesent non consectetur purus lacus aliquet, integer velit massa ultrices consequat duis commodo ultrices class porta turpis elementum. quisque scelerisque feugiat nunc quis porta morbi varius </span>
        </div>
         <div class="col-md-12" style="margin:30px 0;">
          <% @news.each_slice(2) do |slice| %>

          <div class="col-md-4 col-md-offset-2 justify"> 
            <div class="image-center img-translado" style="background-image: url(<%=slice[0].image_news.first.url(:medium)%>)">           
            </div>
            <div class="text-translado ">
              <h3 class="txt-translado"><%= link_to slice[0].title, noticia_path(slice[0]) %></h3>
              <p class="description-translado"><%= slice[0].short_description.html_safe.truncate(200, :omission => "...") %></p>
              <button class="btn_flat know_more_translado"><a href="<%=noticia_path(slice[0])%>#" class="link-sm">Saiba mais</a></button>
            </div>
           <!--  <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p> -->
          </div>
          <div class="col-md-4 justify"> 
            <div class="image-center img-translado" style="background-image: url(<%=slice[0].image_news.first.url(:medium)%>)">             
            </div>  
            <div class="text-translado">
              <h3  class="txt-translado"><%= link_to slice[1].title, noticia_path(slice[1]) %></h3>
              <p class="description-translado"><%= slice[1].short_description.html_safe.truncate(200, :omission => "...") %></p>
              <button class="btn_flat know_more_translado"><a href="<%=noticia_path(slice[1])%>#" class="link-sm">Saiba mais</a></button>
            </div>
            <a class="all-link blank" href="#">Todos os roteiros <div class="arrow-right"></div></a>        
          </div>
          <%end%>
        </div> 
      </div>
    </div>
  </section>
  </section>
    <section class="probootstrap-section about" data-section="about">
    <div class="golden-border darker-border"></div>
    <div class="container">
      <div class="row">
        <div class="probootstrap-heading justify-content">
          <div class="image-center">
            <image src="<%= image_url('12.png')%>" align="center" class="thumb_75"/>
          </div>
          <h1 align="center" class="primary-heading">Sobre o Ouro Adventure</h1>
        </div>
         <div class="col-md-12" style="margin:30px 0;">

          <div class="col-md-4 col-md-offset-2 justify"> 
            <div class="image-center">
              <image src="<%= image_url('01.jpg')%>" align="center" class="col-md-12" style="width:100%;margin-bottom:30px;"/>
            </div>            
          </div>
          <div class="col-md-4 justify">             

            <h3  class="about-title">Texto sobre a empresa</h3>
            <p class="about-description">Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras</p>


          </div>
        </div> 
      </div>
    </div>
  </section> 
  
</div>
<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide",
      directionNav: false,
      slideshow: true,
    });
  });
</script>