<style type="text/css">
  .flex-caption {
    width: 47%;
    height:50%;
    padding: 2%;
    left: 55%;
    bottom: 25%;
    top:25%;
    
    font-size: 14px;
    line-height: 18px;
    position: absolute;
  }
  .flex-caption-title{
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    margin-bottom:2px;
    height:35%;
    padding:20px 10px;
    font-size:32px;
    text-shadow: 0px 0px 5px rgba(0,0,0);
  }
  .flex-caption-description{
    background: rgba(0,0,0,.5);
    color: #fff;
    height:65%;
    text-align: justify;
    padding:15px 40% 15px 10px;
  }
  .flex-caption-link{
    position: absolute;
    bottom:15%;
    right: 40%;
    border:3px solid white;
    font-size:13px;
    padding:3px;
    font-weight: 700;
    color:white;
  } 
  .flex-control-nav{
    bottom:15px;
  }
  .flex-control-paging li a{
    background-color: rgba(255,255,255,0.7);
    box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.6);
  }
  .flex-control-paging li a.flex-active{
    background-color: rgba(255,255,255,0.9);
    box-shadow:0 0 4px rgba(0, 0, 0, 1);

  }

  

  .slides li {
    position: relative;
  }
  .main_container .flexslider{
    margin:0;
  }
  .how_works{
    background-color: #9B9740;
    color:white;
  }
  .golden-border{
    top:0;
    width: 100%;
    height:25px;
    background-color: #838036;
  }
  @media only screen and (max-width: 600px) {
    .flex-caption-title{
      display: none;
    }    
    .flex-caption-description {
      background: transparent;

    }
    .flex-caption-description p{
      display: none;
    }

  }
  .image-center{
    text-align: center;
  }
  .thumb_75{
    width:75px;
    margin-top:5px;
  }
  .primary-heading{
    font-weight:bold;
  }
</style>
<div class="main_container">
  

  <section class="flexslider" data-section="welcome">
    <ul class="slides">
    <% @slides.each.with_index do |item, i| %>
      <li class="overlay" data-stellar-background-ratio="0.5">
        <image src="<%= item.image(:original)%>"/>
        <div class="flex-caption">
          <div class="flex-caption-title"><%=item.title%></div>
          <div class="flex-caption-description">
            <p><%=item.subtitle%></p>
            <a href="<%=item.link%>" target="_blank" class="flex-caption-link">Saiba Mais</a>
          </div>
        </div>
      </li>
    <%end%>
    </ul>
  </section>

  <section class="probootstrap-section how_works">
    <div class="golden-border"></div>
    <div class="container">
      <div class="row">
        <div class="probootstrap-heading justify-content">
          <div class="image-center">
            <image src="<%= image_url('11.png')%>" align="center" class="thumb_75"/>
          </div>
          <h1 align="center" class="primary-heading">Como Funciona</h1>
          <p align="center" class="col-md-6 col-md-offset-3">Lorem ipsum vivamus nam cras convallis elit risus praesent non consectetur purus lacus aliquet, integer velit massa ultrices consequat duis commodo ultrices class porta turpis elementum. quisque scelerisque feugiat nunc quis porta morbi varius </span>
        </div>
        <div class="col-md-12" style="margin:30px 0;">
          <div class="col-md-2 col-md-offset-2 justify"> 
            <div class="image-center">
              <img src="<%= image_url('7.png')%>" class="thumb_75"/>
            </div>
            <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p>
          </div>
          <div class="col-md-2 col-md-offset-1 justify"> 
            <div class="image-center">
              <img src="<%= image_url('6.png')%>" class="thumb_75"/>
            </div>
            <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p>
          </div>
          <div class="col-md-2 col-md-offset-1 justify"> 
            <div class="image-center">
              <img src="<%= image_url('10.png')%>" class="thumb_75"/>
            </div>
            <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p>
          </div>
        </div>
        <p>
          <%if not @logoatv.nil?%><%if not @logoatv.first.estaEdicaoDesc.nil?%><%=  @logoatv.first.estaEdicaoDesc.html_safe%><%end%><%end%>
        </p>
        <!-- END row -->
      </div>
    </div>
  </section>


  

  
  <section class="probootstrap-section-bg overlay" style="background-image: url(img/hero_bg_4.jpg);"  data-stellar-background-ratio="0.5" data-section="events">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center probootstrap-animate">
          <div class="probootstrap-heading">
            <h2 class="primary-heading">Eventos</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
          <% @news.each do |item| %>

        <div class="col-md-4 col-sm-4 probootstrap-animate">
            <div class="probootstrap-block-image">
              <figure><% if item.video_url.present? %>
              <div class="flex-video widescreen">               
                <%= embed(item.video_url) %>
              </div>
            <% else %>
              <% if item.image_news.present? %>
                <%= link_to image_tag(item.image_news.first.url(:medium)), noticia_path(item) %>
              <% end %>
            <% end%></figure>
              <div class="text">
                <span class="date"><%= item.publish_at.strftime("%d/%m/%Y") %></span>
                <h3><%= link_to item.title, noticia_path(item) %></h3>
                <p><%= item.short_description.html_safe%></p>
                <p class=""><a href="<%=noticia_path(item)%>#" class="probootstrap-custom-link link-sm">saiba mais</a></p>
              </div>
            </div>
          </div>
         <%end%> 
        
      </div>
    </div>
  </section>

 <section class="probootstrap-section-bg overlay" style="background-image: url(img/hero_bg_4.jpg);"  data-stellar-background-ratio="0.5"  data-section="menu">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center probootstrap-animate">
          <div class="probootstrap-heading">
            <h2 class="primary-heading">Nosso Menu</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="probootstrap-section probootstrap-bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="menus">
          <% @directors.each do |item|%>
            <li>
              <figure class="image"><%= image_tag item.image.url(:original) %></figure>
              <div class="text">

                <h3><%=item.name.html_safe%></h3>
                <p><%=item.link.html_safe%></p>
              </div>
            </li>
          <%end%>
           
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="probootstrap-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 probootstrap-animate">
          <div class="probootstrap-footer-widget">
            <h3>Localização</h3>
            <div class="row">
              <div class="col-md-6">
                <p> 
Rua Professor Paulo Maganhães Gomes 257
35400000 <br> Ouro Preto - MG</p>
              </div>
            </div>
          </div>
        </div>
        
    </div>
  </section>
</div>
<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide",
      directionNav: false,
      slideshow: true,
    });
  });
</script>