<% content_for :title do %>
  <%= "Festival de Inverno" %>
<% end %>

<div class="festival_container_home">
  <div class="section-title">
    <h1 class="title">Inscrição para oficina <%=@oficina.name%></h1>
    <div class="section-title-line"> ∎ </div>
  </div>


  	<div class="row" align="left">
		<%=form_tag("pagamento", method: "post") %>
			<div class="form-group">
				<b>Nome completo</b>
				<%= text_field_tag(:name ) %>
			</div>
			<div class="form-group">
				<b>cpf</b>
				<%= text_field_tag(:cpf ) %>
			</div>
			<div class="form-group">
				<b>email</b>
				<%= text_field_tag(:email ) %>
			</div>
			<%= hidden_field_tag :id2, @oficina.id %>


		<%= submit_tag("concluir inscrição",  class: "btn btn-xl")%>
	</div>

</div>