

<% content_for :title do %>
  <%= "Ouro Adventure - Roteiros" %>
<% end %>

  
<div class="top-container" style="background-image:url('<%=image_url('back_photo1.jpg') %>') ">
  <image src="<%= image_url('13.1.png')%>" align="center" class="thumb_115"/>
  <h3 align="center" class="primary-heading">Roteiros</h3>
</div>
<div class="festival_container_home">
  <div class="row">
     <div class="col-md-8" style="margin:30px 18%;">
      <% @news.each do |item| %>
        <div class="col-md-6 left"> 
          <% if item.image_news.exists? %>
            <div class="image-center img-roteiro" style="background-image: url(<%=item.image_news.first.url(:medium)%>)">           
            </div>
          <%else%>
            <div class="image-center img-roteiro">           
            </div>
          <%end%>
          
          <div class="text ">
            <h3 class="txt-roteiro"><%= link_to item.title, noticia_path(item) %></h3>
            <p class="description-roteiro"><%= item.short_description.html_safe.truncate(200, :omission => "...") %></p>
            <button class="btn_flat know_more"><a href="<%=noticia_path(item)%>#" class="link-sm">Saiba mais</a></button>
          </div>
        </div>     
      <%end%>
    </div>    
  </div>
  <div class="paginate" >
    <%= will_paginate @news, :previous_label => 'Seguinte', :next_label => 'Próximo' %>
  </div>
</div>


<script type="text/javascript">
  ;( function( $, window, document, undefined )
  {
      'use strict';
   
      var $list       = $( '.card-festival' ),
          $items      = $list.find( '.card-festival-content' ),
          setHeights  = function()
          {
              $items.css( 'height', 'auto' );
   
              var perRow = Math.floor( $list.width() / $items.width() );
              if( perRow == null || perRow < 2 ) return true;
   
              for( var i = 0, j = $items.length; i < j; i += perRow )
              {
                  var maxHeight   = 0,
                      $row        = $items.slice( i, i + perRow );
   
                  $row.each( function()
                  {
                      var itemHeight = parseInt( $( this ).outerHeight() );
                      if ( itemHeight > maxHeight ) maxHeight = itemHeight;
                  });
                  $row.css( 'height', maxHeight );
              }
          };
   
      setHeights();
      $( window ).on( 'resize', setHeights );
   
  })( jQuery, window, document );

  jQuery(document).ready(function(){

    $('.slider').slider({
      indicators: true,
      interval: 10000,
    });
  });
</script>

