
<% content_for :title do %>
  <%= "Como Funciona" %>
<% end %>

 <section class="probootstrap-section how_works" data-section="how_works" style="margin-top:64px">
    <div class="golden-border"></div>
    <div class="container">
      <div class="row">
        <div class="probootstrap-heading justify-content">
          <div class="image-center">
            <image src="<%= image_url('11.png')%>" align="center" class="thumb_75"/>
          </div>
          <h1 align="center" class="primary-heading">Como Funciona</h1>
          <p align="center" class="col-md-6 col-md-offset-3">Lorem ipsum vivamus nam cras convallis elit risus praesent non consectetur purus lacus aliquet, integer velit massa ultrices consequat duis commodo ultrices class porta turpis elementum. quisque scelerisque feugiat nunc quis porta morbi varius </p>
          <p align="center" class="col-md-6 col-md-offset-3">Lorem ipsum vivamus nam cras convallis elit risus praesent non consectetur purus lacus aliquet, integer velit massa ultrices consequat duis commodo ultrices class porta turpis elementum. quisque scelerisque feugiat nunc quis porta morbi varius </p>
          <p align="center" class="col-md-6 col-md-offset-3">Lorem ipsum vivamus nam cras convallis elit risus praesent non consectetur purus lacus aliquet, integer velit massa ultrices consequat duis commodo ultrices class porta turpis elementum. quisque scelerisque feugiat nunc quis porta morbi varius </p>
          <p align="center" class="col-md-6 col-md-offset-3">Lorem ipsum vivamus nam cras convallis elit risus praesent non consectetur purus lacus aliquet, integer velit massa ultrices consequat duis commodo ultrices class porta turpis elementum. quisque scelerisque feugiat nunc quis porta morbi varius </p>
        </div>
        <div class="col-md-12" style="margin:30px 0;">
          <div class="col-md-2 col-md-offset-2 justify"> 
            <div class="image-center">
              <img src="<%= image_url('7.png')%>" class="thumb_75"/>
            </div>
            <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p>
          </div>
          <div class="col-md-2 col-md-offset-1 justify"> 
            <div class="image-center">
              <img src="<%= image_url('6.png')%>" class="thumb_75"/>
            </div>
            <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p>
          </div>
          <div class="col-md-2 col-md-offset-1 justify"> 
            <div class="image-center">
              <img src="<%= image_url('10.png')%>" class="thumb_75"/>
            </div>
            <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p>
          </div>
          <div class="col-md-2 col-md-offset-2 justify"> 
            <div class="image-center">
              <img src="<%= image_url('7.png')%>" class="thumb_75"/>
            </div>
            <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p>
          </div>
          <div class="col-md-2 col-md-offset-1 justify"> 
            <div class="image-center">
              <img src="<%= image_url('6.png')%>" class="thumb_75"/>
            </div>
            <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p>
          </div>
          <div class="col-md-2 col-md-offset-1 justify"> 
            <div class="image-center">
              <img src="<%= image_url('10.png')%>" class="thumb_75"/>
            </div>
            <p class='col-12'>Lorem ipsum vivamus nam cras conva elit risus prae sent non con sec purus lacus aliquet, inte er velit massa ult rices conseq uat duis comm odo nam cras </p>
          </div>
        </div>       
      </div>
    </div>
  </section>





